body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-size: larger;
  color: bisque;
  background-color: darkgreen;
  width: 300px;
  height: 40px;
  border: 3px solid white;
}

.btn {
  font-size: larger;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

